{% extends 'my_to_do_list/base/base.html' %}
{% load static %}

{% block title %}All Tasks{% endblock %}

{% block site_css %}
    <link rel="stylesheet" href="{% static 'my_to_do_list/styles/paiges/index.css' %}">
{% endblock %}

{% block body %}
{% include "./includes/header.html" %}
<section>
    <div class="width_container">
        <h1>{{title}}</h1>
        {% for task in tasks %}
            <div class="task_thumbnail">
                <h2>{{ task.title }}</h2>
                <div class="task_description">
                    {{ task.description|linebreaks|truncatechars:400 }}
                </div>
            </div>
        {% endfor %}
    </div>
    
</section>
{% endblock %}