{% extends 'my_to_do_list/base/base.html' %}
{% load static %}

{% block title %}All Tasks{% endblock %}

{% block site_css %}
    <link rel="stylesheet" href="{% static 'my_to_do_list/styles/paiges/task.css' %}">
{% endblock %}

{% block body %}
{% include "./includes/header.html" %}
<section>
    <div class="width_container">
        <div class="container_right_sidebar">
            <div class="right_sidebar">
                <div><span class="bold_font">Priority:</span> {{priority}}</div>
                <div><span class="bold_font">Deadline:</span> {{ deadline }}</div>
                <div><span class="bold_font">Created:</span> {{ created }}</div>
            </div>
        </div>
        <h1>{{title}}</h1>
        <div>{{description|linebreaks }}</div>
    </div>
</section>
{% endblock %}