.width_container {
    margin: 0 auto;
    padding: 2em;
    max-width: 80%;
}
.width_container h1 {
    margin: 1.5em 1em;
    text-align: center;
}
@media(max-width: 991px){
    .width_container {
        max-width: 100%;
    }
}