<header class="header">
    <div class="container">
        <div class="row align-items-center justify-content-between">
           <div class="logo">
             <a href="#">To Do List</a>
           </div>
           <input type="checkbox" id="nav-check">
           <label for="nav-check" class="nav-toggler">
              <span></span>
           </label>
           <nav class="nav">
              <ul>
                 <li><a href="#">All tasks</a></li>
                 <li><a href="#">Create task</a></li>
                 <li><a href="#">Log in/Log out</a></li>
              </ul>
           </nav>
        </div>
    </div>
 </header>
